* {
  margin: 0;
  padding: 0;
}

.article {
  height: min-content;
  width: 37rem;
  background-color: #777;
  display: flex;
  flex-direction: column;
}

.article__articleHeader {}

.article__articleTitlerP {
  margin-left: 2rem;
}

.article__content {
  margin: 1rem;
}

.article__tag {
  color: white;
}

.article__thumbAuthor {
  margin-top: 2rem;
  margin-left: 2rem;
}

.topArticlesSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articleAuthorP {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  font-weight: bold;
  width: max-content;
  margin: 0;
}

.articleHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.articleTags_hash {
  color: #222;
  font-weight: bold;
  margin-left: 2rem;
}

.articleTags_text {
  color: white;
  font-weight: bold;
}

.articleTags_number {
  font-weight: bold;
  color: white;
}

.articleTitleP {
  color: white;
  background-color: #333;
  font-size: 3rem;
  font-weight: bold;
}

.articleTitleP_wrote {
  font-style: italic;
}

.body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #999;
  font-family: Arial, Helvetica, sans-serif;
}

.body__header {
  margin: 0;
}

.body__main {}

.header {
  padding: 0;
}

.header__nav {
  margin: 10px;
}

.main {
  padding: 25px;
}

.main__article {
  float: left;
}

.main__personOfWeek {
  margin: auto;
}

.main__secondaryArticlesSection {
  margin: 5% 3%;
}

.main__title {
  margin: auto;
}

.nav {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.5em;
}

.nav__logoImg {
  width: 60px;
  height: 70px;
}

.nav__topMenuA {
  color: white;
  text-decoration: none;
}

.nav__topMenuA_more {}

.nav__topSearchInput {}

.secondaryArticle {
  width: 33%;
  background-color: white;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.secondaryArticle:hover {
  transform: scale(1.15);
  transition-duration: 0.1s;
}

.secondaryArticle__date {
  font-size: 0.75rem;
  font-weight: 700;
  height: auto;
  font-variant-caps: all-petite-caps;
}

.secondaryArticle__author {}

.secondaryArticle__intro {}

.secondaryArticle__title {
  font-size: 2.3em;
  font-weight: 500;
}

.secondaryArticlesSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
}

.secondaryArticlesSection__secondaryArticle {}

.personOfWeek {
  background-color: white;
  width: 90%;
  /* display: flex;
  flex-direction: row; */
}

.personOfWeek__personOfWeekThumb {
  float: left;
}

.personOfWeek__personOfWeekText {}

.personOfWeekText {
  display: flex;
  flex-direction: column;
  width: 70%;
  line-height: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: right;
}

.personOfWeekText :after {
  content: "";
  float: none;
}

.personOfWeekThumb {
  width: 20%;
  cursor: pointer;
  transform: rotateZ(calc(-11 * 1deg));
  transition: transform .2s ease-out;
  border: 5px solid white;
  border-radius: 10px;
}

.personOfWeekTitle {
  text-transform: uppercase;
  line-height: 4rem;
  vertical-align: center;
}

.title {
  color: white;
  background-color: #111;
  font-size: 2em;
  width: 32%;
  line-height: 1.5em;
  margin: auto;
  text-align: center;
  margin-top: -5px;
  padding: 10px;
  font-weight: 700;
}

.title_phrase2 {
  width: 14%;
  margin-top: -15px;
}

.thumbAuthor {
  height: 4rem;
  cursor: pointer;
  transform: rotateZ(calc(-11 * 1deg));
  transition: transform .2s ease-out;
  border: 5px solid white;
  border-radius: 10px;
}

.thumbAuthor:hover {
  transform: rotateZ(0);
  transition: transform .2s ease-out;
}

.topMenuA {
  padding: 15px;
  border-radius: 12px;
}

.topMenuA:hover {
  background-color: #B43125;
}

.topMenuA_moreButton {
  background-color: #888;
}

.topMenuA_moreButton:hover {
  background-color: #8E3A30;
}

.topSearchInput {
  width: 350px;
  height: 56px;
  border-radius: 10px;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  padding: 5px 15px;
  box-sizing: border-box;
}
